RewriteEngine On

RewriteRule ^$ index.php [L]
RewriteRule ^detail/?$ detail.php [L]
RewriteRule ^elements/?$ elements.php [L]

RewriteRule ^verze3\.html$ / [R=301,L]
RewriteRule ^detail-inzeratu\.html$ /detail [R=301,L]
RewriteRule ^detail-inzeratu\.php$ /detail [R=301,L]
RewriteRule ^elements\.html$ /elements [R=301,L]

